:root {
    --main_color: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #f3f3f3;
    --white_color: #fff;
    --color_heading: #353237;
    --border_color: #d6d6d6d5;
  }
.top_slide{
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0;
    z-index: 2;
}
.top_slide::after{
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--main_color);
    z-index: 5;
}
.top_slide h2{
    font-size: 30px;
    color: var(--main_color);
    margin-bottom: 10px;
}
/* !=================== Product ===================*/
.product{
    background-color: var(--white_color);
    width: 240px;
    padding: 25px 15px;
    border: 1px solid var(--border_color);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.product:hover{
    border-color: var(--main_color);
    transform: scale(1.05);
    box-shadow: 10px 10px 15px #9494943e;
    z-index: 10;  
}
.product .img-product{
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.product .img-product img{
    height: 160px;
    width: auto;
}
.product .name-product{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.product .stars{
    margin: 15px 0;
    display: flex;
    gap: 5px;
}
.product .stars svg{
    fill: #f8d941;
    font-size: 18px;
}
.product .icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -70px;
    top: 50%;
    gap: 10px;
    transform: translate(-50%);
    transition: 0.5s;
}
.product:hover .icons{
    right: 20px;
}
.product .icons span{
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.product.in-cart .icons .btn-addtocart{
    background-color: var(--main_color);
    pointer-events: none;
}
.icons .btn-addtofav.in-fav{
    background-color: var(--main_color);
}
.product.in-cart .icons .btn-addtocart svg,
.btn-addtofav.in-fav svg{
    fill: var(--white_color);
}
.product .status-cart{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7b7b7b;
}
.product.in-cart .status-cart{
    top: 10px;
}
.product .status-cart svg{
    fill: rgb(31, 233, 65);
}
.product .price{
    font-weight: bold;
    font-size: 20px;
    color: var(--main_color);
}
.product-slider .swiper-slide{
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 20px;
}
.loading-slideProduct .top_slide{
    height: 105px;
}
.loading-slideProduct .top_slide h2{
    height: 25px;
    width: 250px;
}
.loading-slideProduct .top_slide p{
    height: 20px;
    width: 350px;
}
.products-loading{
    display: flex;
    gap: 30px;
}
.products-loading .img-product{
    border-radius: 5px;
}
.products-loading .contentL{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* ? Toaster */
.toast-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 300px;
}
.toast-wrapper img{
    width: auto;
    height: 70px;
    object-fit: cover;
}
.toast-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}
.toast-content h4{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.toast-content button{
    margin-top: 5px;
    font-size: 13px;
}
